{% extends '../main.twig' %}

{% block main %}
	{% include '../components/about-section.twig' with about %}

	{% include '../components/price-section.twig' with {
		bemMix: 'page__price-section',
		component: 'tabs',
		decor: subscriptions.decor,
		id: 'price-section__inner',
		data: {
			component: 'cards-list',
			listComponent: 'card',
			heading: subscriptions.heading,
			tabs: subscriptions.groups
		}
	} %}

	{% include '../components/event.twig' with event|merge({
		bemMix: 'page__event container'
	}) %}

	<section class="page__trainers container">
		<h2 class="page__heading page__heading--alter heading">{{ trainers.heading }}</h2>
		{% include '../components/slider.twig' with {
			bemMix: 'page__slider page__slider--wide',
			component: 'figure',
			loop: true,
			multiple: true,
			slides: trainers.list
		} %}
	</section>

	{% include '../components/advantages.twig' with {
		bemMix: 'page__advantages',
		data: advantages,
	} %}

	{% include '../components/ad.twig' with ad|merge({
		bemMix: 'page__ad container',
	}) %}

	<section class="page__reviews container">
		<h2 class="page__heading page__heading--alter page__heading--reviews heading">{{ reviews.heading }}</h2>

		{% include '../components/slider.twig' with {
			bemMix: 'page__slider',
			component: 'review',
			slides: reviews.list,
			shadow: true
		} %}
	</section>

{% include '../components/content-group.twig' with { data: [
		ticket|merge({ component: 'form' }),
		contacts|merge({ component: 'contacts' })
	] } %}

{% endblock %}
