.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  overflow-x: hidden;
}

.page__heading {
  margin: 0 0 37px;
  text-align: center;

  &--alter {
    margin-bottom: 48px;
    text-align-last: left;

    @include vp-1249 {
      text-align: center;
    }
  }
}

.page__price-section {
  margin-bottom: 120px;
}

.page__event {
  margin-bottom: 106px;
}

.page__trainers {
  margin-bottom: 102px;
}

.page__advantages {
  margin-bottom: 150px;
}

.page__ad {
  margin-bottom: 117px;
}

.page__reviews {
  margin-bottom: 120px;
}

.page__slider {
  width: 680px;
  margin: 0 auto;

  @include vp-1199 {
    width: 678px;
  }

  @include vp-767 {
    width: 395px;
  }

  @include vp-424 {
    width: 290px;
  }

  &--wide {
    width: calc(100% + 120px);
    margin: 0 0 0 -60px;

    @include vp-1299 {
      width: 980px;
      margin: 0 auto;
    }

    @include vp-767 {
      width: 332px;
    }
  }
}
