<div class="contacts {{ bemMix }}">
	{% for list in lists %}
		<dl class="contacts__item">
			{% for contact in list %}
				<dt class="contacts__key">{{ contact.key }}</dt>
				<dd class="contacts__value">{{ contact.value }}</dd>
			{% endfor %}
		</dl>
	{% endfor %}
</div>
